.tool-bar {
  justify-content: space-between;
}

.logo img {
  width: 90px;
  height: 100%;
  color: snow;
}

.links {
  display: flex;
}

.links a {
  text-decoration: none;
  font-size: 25px;
  color: snow;
  padding: 0 10px;
}
